// colors
$dark:#111111;
$white:#ffffff;
$green-white:#57e4a7;
$orange:#ffc20a;
$red:#ff0000;
$aqua:rgb(0 255 255);

$card-black:rgb(0 0 0 / 20%);
$rgb-green:rgb(101 164 111);
$rgb-green-white:rgb(138 199 148);
$rgb-grey:rgb(255 255 255 / 70%);

$desktop-width: 1024px;
$transition_background: background-color 0.12s ease-out;